<%- include('../partials/header.ejs') %>
	
<div class="eachPage">

	<div class="pageName">
	
		<h3>events</h3>
		
	</div>

	<%= message %>


	<div class="cardGrid">

		<% events.forEach(event => { %>
			
			<div class="indexInfo">
	
				<div class="indexName">
					<a href="/events/<%=event.id%>"><%=event.name%></a>
				</div>

				<div class="photoCard">	
					<a href="/events/<%=event.id%>"><img class="indexPhoto" src="<%= event.eventPhoto %>"></a>
				</div>
				
			</div>
		
		<% }) %>
	
	</div>


<%- include('../partials/footer.ejs') %>

