<%- include('../partials/header.ejs') %>


	<div class="entireEvent">

		<div class="eventInfo">

			<h2><%= event.name %></h2>
			
			<p> When: <%= event.date.toDateString() %> @ <%= event.time.toLocaleString()%></p>

			
			<p> Where: <%= event.location %> </p>

			<% if (event.attendees.find( ({_id}) => _id == userId  )) { -%>

				<p>ur going yay</p>

			<% } else if (!loggedIn) { -%>

				<p>you must be logged in</p>
				
			<% } else { -%>
				
				<form method="POST" action="/users/<%= event.id %>">
					<button>Attend</button>
				</form>

			<% } -%>



			<p>Attendees</p>

			<ul>
				<% for(let i = 0; i < event.attendees.length; i++) { %>
						<li>
							<a href="/users/<%= event.attendees[i]._id %>"><%= event.attendees[i].username %></a>	
						</li>
				<% } %>
			</ul>

			hosted by: <%= event.user.username %>

			<% if(username) { %>

				<form method="POST" action="/comments/<%= event.id %>">
					<textarea name="text" placeholder="Questions? Thoughts?"></textarea>
					
					<button>Add a comment</button>

				</form>
			
				<ul>

				<% event.comments.forEach((comment)=> { %>

					<li>
						<%= comment.text%>
						
						(<%= comment.date.toLocaleString([], {hour: '2-digit', minute: '2-digit'}) %>) by
						<a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a>

						<% if (userId == comment.user.id) { -%>
							
							<a href="/comments/<%=event.id%>/<%=comment.id%>/edit">edit</a>
							
						<% } -%>
					</li>

				<% }) %>

			<% } else { %>

					<p>you must be logged into access comments</p>
				
			<%}%>

			</ul>
			
		</div> <!-- event info -->

		<div class="eventPhoto">
			<img src="/<%= event.eventPhoto %>" height="550px">
		</div>

		<div class="edit">
			
			<% if(event.user._id == userId) { %>
				
				<a href="/events/<%= event._id %>/edit">Edit!</a>

			<% } %>
		
		</div>
	
	</div> <!-- entire event -->

<%- include('../partials/footer.ejs') %>
