<%- include('../partials/header.ejs') %>
<h2><%= event.name%></h2>
<p> When: <%= event.date%>
</p> Where: <%= event.location%>

hosted by: <%= event.user.username%>



<%- include('../partials/footer.ejs') %>
