<%- include('../partials/header.ejs') %>
<h2><%= event.name%></h2>
<p> When: <%= event.date%>
</p> Where: <%= event.location%>

hosted by: <%= event.user.username%>

<small><a href="/events/<%=event._id%>/edit">Edit!</a>

<%- include('../partials/footer.ejs') %>
