<%- include('../partials/header.ejs') %>

	<div>
		<img src="/<%= event.eventPhoto %>" height="300">
	</div>

	<h2><%= event.name %></h2>
	
	<p> When: <%= event.date %> </p>
	
	<p> Where: <%= event.location %> </p>

	<form method="POST" action="/users/<%= event.id %>">
		<button>Attend</button>
	</form>

	<p>Attendees</p>

	<ul>
		<% for(let i = 0; i < event.attendees.length; i++) { %>
			<li>
				<%= event.attendees[i].username %>	
			</li>
		<% } %>
	</ul>

	hosted by: <%= event.user.username %>
	<% if(username) {%>
		<form method="POST" action="/comments/<%= event.id %>">
			<textarea name="text" placeholder="Questions? Thoughts?"></textarea>
			
			<button>Add a comment</button>
		</form>
	<%}%>
	
	<ul>
		<% event.comments.forEach((comment)=> { %>
			<li>
				<%= comment.text%>
				
				<small>(<%= comment.date.toLocaleString() %>) by <%= comment.user.username %> </small>
			</li>
		<% }) %>
	</ul>

	<small><a href="/events/<%= event._id %>/edit">Edit!</a>

	<form method="POST" action="/events/<%= event._id %>?_method=DELETE">
		<button>Delete this event!</button>
	</form>


<%- include('../partials/footer.ejs') %>
