<%- include('../partials/header.ejs') %>

<div class="entirePage">
	
	<div class="editComment">

		<form method="POST" action="/comments/<%=event.id%>/<%= comment.id %>?_method=PUT">
				
			<textarea name="text" placeholder="Questions? Thoughts?" required>
				<%=comment.text%>
			</textarea>
			
			<button>EDIT COMMENT</button>
		</form>
	</div>

	<form method="POST" action="/comments/<%= event.id %>/<%=comment.id%>?_method=DELETE">
		<button class="deleteComment">DELETE COMMENT</button>
	</form>

</div>
	
<%- include('../partials/footer.ejs') %>
