<%- include('../partials/header.ejs') %>
	
<div class="eachPage">

	<div class="pageName">
	
		<h3>photos</h3>
		
	</div>

	<%= message %>

	<div class="cardGrid">

		<% photos.forEach((photo) => { %>

			<div class="indexInfo">
				
				<div class="photoCard">

					<a href="/users/<%= photo.user.id %>"><img class="indexPhoto" src="/<%= photo.pic %>" height="300"></a>
				
					<div class="photoIndexInfo">
						<a href="/users/<%= photo.user.id %>">
							<p><strong>photo by </strong> <%=photo.user.username%></p>
						</a>
					</div>
				</div>

			</div>

		<% }) %>

	</div>

</div>


<%- include('../partials/footer.ejs') %>