<%- include('../partials/header.ejs') %>
	
	<div class="pageName">
	
		<h3>users</h3>
		
	</div>
	
	<%= message %>


	<div class="cardGrid">

		<% users.forEach(user => { %>
			
			<div class="indexInfo">
	
				<div class="indexName">
					<a href="/users/<%=user.id%>"><%=user.username%></a>
				</div>

				<div class="photoCard">	
					<a href="/users/<%=user.id%>"><img class="indexPhoto" src="<%= user.profilePhoto %>"></a>
				</div>
				
			</div>
		
		<% }) %>
	
	</div>


<%- include('../partials/footer.ejs') %>

