<%- include('../partials/header.ejs') %>

<div class="userShowPage">

	<div class="userPicAndInfo">

		<div class="userPhotoShowPage">
			<img src="/<%= user.profilePhoto %>">
		</div>



		<div class="basicUserInfo">

			<p><i><%= user.username.toUpperCase() %></i></p>

			<div class="userInformationShowPage">
				<p>age: <%= user.age %></p>

				<p>location: <%= user.location %></p>
			</div>

			<div class="userEvents">
				<p>events attended:</p>
				<ul>
					<% events.forEach((event)=> { %>
						<li>
							<a href="/events/<%=event._id%>"><%=event.name%></a>
						</li>
					<% }) %>
				</ul>		
			</div>

			<div class="adminControls">
				
				<% if (userId == user._id) {%>
					<p> (<a href="/users/<%= user._id %>/edit">EDIT</a>) </p>
				<%}%>
			
			</div>

		</div> <!-- .basicUserInfo -->
	

	</div>	<!-- pic and info -->


	<div class="userPhotosShowPage">
		<p>photos uploaded:</p>

		<div class="userPhotoGrid">

			<% photos.forEach((photo) => { %>
				<div class="photoGridPicsParent">
					<% if (userId == user._id) { %>

						<a href="/photos/<%=photo.id%>"><img class="photoGridPics" src="/<%= photo.pic %>" height="300"></a>

					<% } else { %>
						
						<img class="photoGridPics" src="/<%= photo.pic %>" height="300">
					<% } %>
				</div>

			<% }) %>
		
		</div>

	</div>



</div> <!-- .showpage -->
<%- include('../partials/footer.ejs') %>