<%- include('../partials/header.ejs') %>

	<h2><%= user.username %></h2>

	<div>
		<img src="/<%= user.profilePhoto %>" height="300">
	</div>

	<div>
		<p>age: <%= user.age %></p>
	</div>
	<div>
		<p>location: <%= user.location %></p>
	</div>


		<p>(<a href="/users/<%= user._id %>/edit">EDIT</a>)</p>
		<form method="POST" action="/users/<%= user._id %>/?_method=DELETE">
			<button>Delete user!</button>
<%- include('../partials/footer.ejs') %>