<%- include('../partials/header.ejs') %>

	<h2><%= user.username %></h2>

	<div>
		<img src="/<%= user.profilePhoto %>" height="300">
	</div>

	<div>
		<p>age: <%= user.age %></p>
	</div>
	<div>
		<p>location: <%= user.location %></p>
	</div>

	<div>
		<p>events attended:</p>
		<ul>
		<%events.forEach((event)=> {%>
			<li><a href="/events/<%=event._id%>"><%=event.name%></a></li>
		<%})%>		<!-- loop here -->
	</div>

	<div>
		<p>photos uploaded:</p>
		<div class="photoGrid">
		<% photos.forEach((photo) => { %>
		<% if (userId == user._id) {%>
			<a href="/photos/<%=photo.id%>"><img class="photoGridPics" src="/<%= photo.pic %>" height="300"></a>
		<%}else{%>
			<img class="photoGridPics" src="/<%= photo.pic %>" height="300">
		<%}%>
		<%})%>
	</div>
	</div>
<% if (userId == user._id) {%>
		<p>(<a href="/users/<%= user._id %>/edit">EDIT</a>)</p>
	<%}%>
<%- include('../partials/footer.ejs') %>