<%- include('../partials/header.ejs') %>

<div class="eachPage">

	<div class="pageName">
	
		<h3>edit band</h3>
		
	</div>

	<div class="editPages">
		
		<form method="POST" enctype="multipart/form-data" action="/bands/<%=band._id%>?_method=PUT">
			<fieldset>
				<div>
					<label for='name'>*BAND NAME:</label>
					<input type="name" name="name" id="name" placeholder="BAND NAME" value="<%=band.name%>"
					/>
				</div>
				<div>
					<label for="bandPhoto">*PHOTO:</label>
					<input type="file" name="bandPhoto" id="bandPhoto" placeholder="PHOTO OF BAND" value="<%=band.bandPhoto%>"
					/>
				</div>
				<div>
					<label for="formed">FORMED:</label>
					<input type="number" name="formed" id="formed" placeholder="formed" value="<%=band.formed%>" 
					/>
				</div>
				<div>
					<label for="genre">GENRE:</label>
					<input type="text" name="genre" id="genre" placeholder="genre" value="<%=band.genre%>"
					/>
				</div>
				<div>
					<label for='song'>MUSIC LINK:</label>
					<input type="text" name="song" id="song" placeholder="song"
					value="<%=band.song%>"
					/>
				</div>
			</fieldset>
			<button>EDIT BAND</button>
		</form>
	
		<form method="POST" action="/bands/<%=band.id%>?_method=DELETE">

			<button>DELETE <%= band.name.toUpperCase() %></button>

		</form>

	</div>	
	<div class="required">
		<p>*marks required</p>
	</div>

<%- include('../partials/footer.ejs') %>
