<%- include('../partials/header.ejs') %>
	
	<h2>BANDS</h2>
	<%= message %>


	<div class="photoCard">

		<% bands.forEach(band => { %>

			<div class="card">	
				<a href="/bands/<%=band.id%>"><img class="indexPhoto" src="<%= band.bandPhoto %>"></a>
				<a href="/bands/<%=band.id%>"><%=band.name%></a>
			</div>
		
		<% }) %>
	
	</div>


<%- include('../partials/footer.ejs') %>
