<%- include('../partials/header.ejs') %>

<div class="eachPage">

	<div class="message">
		
		<p class="deletedMessage"><%= message %></p>
		
	</div>

	<div class="pageName">
	
		<h3>bands</h3>
		
	</div>
	


	<div class="cardGrid">

		<% bands.forEach(band => { %>
			
			<div class="indexInfo">
	
				<div class="indexName">
					<a href="/bands/<%=band.id%>"><%=band.name%></a>
				</div>

				<div class="photoCard">	
					<a href="/bands/<%=band.id%>"><img class="indexPhoto" src="<%= band.bandPhoto %>"></a>
				</div>
				
			</div>
		
		<% }) %>
	
	</div>


<%- include('../partials/footer.ejs') %>
