<%- include('../partials/header.ejs') %>

<div class="bandShowPage">
	
	<div class="bandPicAndInfo">
		
		<div class="bandPhotoShowPage">
			<img class="bandPhoto" src="/<%= band.bandPhoto %>">
		</div>

		<div class="basicBandInfo">
			
			<p><i><%= band.name.toUpperCase() %></i></p>

			<p>managed by: <a href="/users/<%=band.user.id%>"><%=band.user.username%></a></p>
			
			<% if (band.formed) { -%>
			
				<p>formed: <%= band.formed %></p>
				
			<% } -%>

			<% if (band.genre) { -%>
				
				<p>genre: <%= band.genre %></p>
			
			<% } -%>

			<% if (band.song) { -%>
				<p>check out our music<a href="<%= band.song %>" target="_blank">here.</a></p>
			<% } -%>

			<%if(userId == band.user._id){%>
				
				(<a href="/bands/<%=band.id%>/edit">EDIT</a>)
			
			<%}%>
		</div>


	</div>
</div>
	
<%- include('../partials/footer.ejs') %>
