<%- include('../partials/header.ejs') %>
<h2><%=band.name%></h2>
<img class="bandPhotot" src="/<%= band.bandPhoto %>" height="300">
	this band was formed in <%= band.formed%>

	band was added by <%=band.user.username%>


<a href="/bands/<%=band.id%>/edit">Edit</a>
<form method="POST" action="/bands/<%=band.id%>?_method=DELETE">
	<button>DELETE</button>
</form>
<%- include('../partials/footer.ejs') %>
