<%- include('../partials/header.ejs') %>
<h2><%=band.name%></h2>
	this band was formed in <%= band.formed%>

	band was added by <%=band.user.username%>


<a href="/bands/<%=band.id%>/edit">Edit</a>
<%- include('../partials/footer.ejs') %>
